asn1crypto==0.24.0
cryptography==2.1.4
enum34==1.1.6
ftw==1.1.7
idna==2.6
ipaddress==1.0.17
IPy==1.0
keyring==10.6.0
keyrings.alt==3.0
py==1.8.0
pycrypto==2.6.1
pygobject==3.26.1
pytest==2.9.1
python-dateutil==2.6.0
pyxdg==0.25
PyYAML==5.1
SecretStorage==2.3.1
six==1.11.0